html,
body {
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --wrong: #3a3a3c;
  --close: #b59f3b;
  --right: #538d4e;
}

#game {
  display: flex;
  flex: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 600px;
}

.title {
  display: flex;
  flex-direction: row;
}

.logo {
  align-self: center;
  height: 50px;
}

.grid {
  display: flex;
  flex-direction: row;
  gap: 2px;
  margin: 2px;
}

.box {
  width: 60px;
  height: 60px;
  border: 2px solid;
  border-color: rgb(164, 164, 164);
  color: black;
  display: grid;
  place-items: center;
  font-size: 2.4rem;
  text-transform: uppercase;
}

.keyboard-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  
}

.keyboard-top {
  margin-top: 20px;
  display: inline-grid;
  grid-template-columns: repeat(10, auto);
  gap: 1px;
}
.keyboard-middle {
  margin: 2px;
  display: inline-grid;
  grid-template-columns: repeat(9, auto);
  gap: 1px;
}
.keyboard-bottom {
  margin-bottom: 20px;
  display: inline-grid;
  grid-template-columns: repeat(9, auto);
  gap: 1px;
}

.typed-input {
  margin: 20px;
}

.footer {
  text-align: center;
}