html,
body {
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --wrong: #3a3a3c;
  --close: #b59f3b;
  --correct: #538d4e;
}

#game {
  display: flex;
  flex: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 600px;
}

.title {
  display: flex;
  flex-direction: row;
}

.logo {
  align-self: center;
  height: 50px;
}

.grid {
  display: flex;
  flex-direction: row;
  gap: 2px;
  margin: 2px;
}

.box-empty {
  width: 50px;
  height: 50px;
  border: 2px solid;
  border-color: rgb(164, 164, 164);
  display: grid;
  place-items: center;
  font-size: 2.4rem;
  text-transform: uppercase;
  color: black
}

@keyframes wrongBox {
  from {background-color: white;}
  to {background-color: var(--wrong);}
}

@keyframes closeBox {
  from {background-color: white;}
  to {background-color: var(--close);}
}

@keyframes correctBox {
  from {background-color: white;}
  to {background-color: var(--correct);}
}

.box-wrong {
  width: 50px;
  height: 50px;
  border: 2px solid;
  border-color: rgb(164, 164, 164);
  display: grid;
  place-items: center;
  font-size: 2.4rem;
  text-transform: uppercase;
  background-color: var(--wrong);
  color: white;
  animation-name: wrongBox;
  animation-duration: 4s;
}

.box-close {
  width: 50px;
  height: 50px;
  border: 2px solid;
  border-color: rgb(164, 164, 164);
  display: grid;
  place-items: center;
  font-size: 2.4rem;
  text-transform: uppercase;
  background-color: var(--close);
  color: white;
  animation-name: closeBox;
  animation-duration: 4s;
}

.box-correct {
  width: 50px;
  height: 50px;
  border: 2px solid;
  border-color: rgb(164, 164, 164);
  display: grid;
  place-items: center;
  font-size: 2.4rem;
  text-transform: uppercase;
  background-color: var(--correct);
  color: white;
  animation-name: correctBox;
  animation-duration: 4s;
}

.keyboard-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  
}

.keyboard-top {
  margin-top: 20px;
  display: inline-grid;
  grid-template-columns: repeat(10, auto);
  gap: 4px;
  margin-bottom: 2px;
}
.keyboard-middle {
  margin: 2px;
  display: inline-grid;
  grid-template-columns: repeat(9, auto);
  gap: 4px;
}
.keyboard-bottom {
  margin-bottom: 20px;
  display: inline-grid;
  grid-template-columns: repeat(9, auto);
  gap: 4px;
  margin-top: 2px;
}

.typed-input {
  margin: 20px;
}

.key-standard {
  width: 40px;
  height: 50px;
  border-radius: 3px;
  padding: 0px;
  border-color: lightgray;
  background-color: lightgray;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
}

.key-wrong {
  width: 40px;
  height: 50px;
  border-radius: 3px;
  padding: 0px;
  border-color: lightgray;
  background-color: var(--wrong);
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

.key-close {
  width: 40px;
  height: 50px;
  border-radius: 3px;
  padding: 0px;
  border-color: lightgray;
  background-color: var(--close);
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

.key-correct {
  width: 40px;
  height: 50px;
  border-radius: 3px;
  padding: 0px;
  border-color: lightgray;
  background-color: var(--correct);
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

.key-action {
  width: 60px;
  height: 50px;
  border-radius: 3px;
  padding: 1px;
  border-color: lightgray;
  background-color: lightgray;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
}

.footer {
  text-align: center;
}